.row{
	margin: 15px;
	color: #fff;
}
.posters{
	display: flex;
	padding: 20px;
	overflow-y: hidden;
	overflow-x: scroll;
	scroll-behavior: smooth;
	scrollbar-width: none;
}

.posters::-webkit-scrollbar{
	display: none; 
	/* Chrome, Safari & Opera */
}
.posters {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 

.poster{
	max-height: 250px;
	margin-right: 10px;
	border-radius: 6px;
	cursor: pointer;
}
.poster:hover{
	transform: scale(1.1);
}
.detailsContainer{
	display: block;
	width: 65%;
	height: auto;
	min-height: 230px;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 10px 10px;
	text-align: center;
	border-radius: 6px;
	background: rgb(28,28,37);
	background: linear-gradient(90deg, rgba(28,28,37,1) 0%, rgba(27,27,34,0.8897758932674632) 50%, rgba(28,28,37,1) 100%); 
}
.detailsImage{
	float: left;
	left: 10px;
	max-height: 250px;
	width: 200px;
	margin: 10px 8px;
}
.detailsImage img{
	left: 5px;
	width: 150px;
	height: 200px;
	border-radius: 5px;
}
.details{
	right: 5px;
}
.detailsTitle{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin: auto;
	margin-bottom: 15px;
	padding: 6px;
}
.detailsContent{
	text-align: center;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 7px;
}
.detailsCloseButton{
	color: white;
	outline: none;
	cursor: pointer;
	border: none;
	font-weight: none;
	border-radius: 5px;
	margin-top: 1rem;
	padding: 0.7rem 2rem;
	background-color: rgba(51, 51, 51, 0.5);
}
.detailsCloseButton:hover{
	color: red;
	font-weight: 900;
	background-color: #e6e6e6;
}

.smallPoster{
	max-height: 150px;
	margin-right: 10px;
	border-radius: 6px;
	cursor: pointer;
}
.smallPoster:hover{
	transform: scale(1.1);
}
