.banner{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	width: 100%;
	height: auto;
	color: white;
	bottom: auto;
}
.content{
	padding-top: 140px;
	height: 190px;
	padding-left: 15px;
	text-shadow: -1px 1px 0 #000, 
		1px 1px 0 #000, 
		1px -1px 0 #000, 
		-1px -1px 0 #000;
}
.title{
	font-size: 3rem;
	font-weight: 800;
	padding-bottom: 0.3rem;
}
.button{
	color: white;
	outline: none;
	cursor: pointer;
	border: none;
	font-weight: none;
	border-radius: 5px;
	margin-right: 1rem;
	padding: 0.5rem 2rem;
	background-color: rgba(51, 51, 51, 0.5);
}
.button:hover{
	color: black;
	background-color: #e6e6e6;
}
.description{
	height: 80px;
	width: 45rem; 
	max-width: 360px;
	padding-top: 1rem;
	line-height: 1.3;
	letter-spacing: 1.5px;
	font-size: 1rem;
}
.fadeBottom{
	height: 11rem;
	background-image: linear-gradient(180deg, transparent, rgba(37,37,37,0.61), #111);
}
.bannerButtons{
	height: auto;
}




